.marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 100vw;
    animation: marquee 9000ms linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }