

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar .right-section a{
text-decoration: none;
  padding: 6px;
  border-radius: 4px;

}
.navbar .right-section a.active{
  background-color: rgb(9, 52, 192);
}
